<header class="mb-auto">
    <div>
      <h1 class="float-md-start mb-0">VOICE-to-TEXT</h1>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/voicenote">Voice Note</a>
        <a class="nav-link" href="/checklist">Checklist</a>
        <a class="nav-link" href="/translation">Translation</a>
        <a class="nav-link" href="/logout">Logout</a>
      </nav>
    </div>
</header>