<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/speech_recognition.js" defer></script>
    </head>
<body>
<body>
    <h1>Voice note</h1>
    <p><em>Start recording, say your idea and save !!!</em></p>
    <form action="/voiceNote" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <textarea id="wordsContainer" name="wordsContainer" rows="4" cols="50"></textarea>
        <div>
           
            <button type="submit">save</button>
        </div>
      </form> 
      <button onclick="startRecording()">Start recording</button>
      <button id="stop">Stop recording</button>
    
    
    
    
    
    
</body>
</html>
